<!doctype html>

<html ng-app="app">

    <head>
    
        <title>Bucket 2.0</title>
        
        <!-- External -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        
        <!-- App -->
        
        <script src="scripts/app.js"></script>
        <link rel="stylesheet" href="style/style.css" />

    </head>

    <body>
        
        <div id="menu">
            <div id="logo"></div>
        </div>
        
        <div class="content" ng-controller="controller">

            <div class="alert alert-danger" ng-repeat="alert in alerts">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{alert}}
            </div>

            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Players and Teams</a></li>
                <li><a href="#tab2" data-toggle="tab">Draft</a></li>
                <li><a href="#tab3" data-toggle="tab">Home</a></li>
            </ul>
            
            <div class="tab-content">
            
                <div id="tab1" class="tab-pane active">
            
                    <div class="rounded-border">
                    
                        <div class="header">
                            <span class="header-text">Players</span>
                            <button class="btn btn-primary pull-right" ng-click="addPlayer()">Add Player</button>
                            <button class="btn btn-primary pull-right" ng-click="randomizeTeams(2)" ng-show="players.length > 3">Randomize (2 Teams)</button>
                            <button class="btn btn-primary pull-right" ng-click="randomizeTeams(3)" ng-show="players.length > 5">Randomize (3 Teams)</button>
                            <button class="btn btn-primary pull-right" ng-click="randomizeTeams(4)" ng-show="players.length > 7">Randomize (4 Teams)</button>
                            
                        </div>
                    
                        <table class="table table-striped table-hover" ng-show="players.length > 0">
                            <tr>
                                <td class="col-md-2">
                                    Player Name
                                </td>
                                <td class="col-md-2">
                                    Team Number
                                </td>
                                <td class="col-md-2">
                                    Delete
                                </td>
                            </tr>
                            
                            <tr ng-repeat="player in players">
                                <td>
                                    <input type="text" class="form-input" ng-model="player.name" />
                                </td>
                                <td>
                                    <select ng-model="player.team" class="form-input" ng-options="i for i in teamNumbers"></select>
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="deletePlayer(player.id)">Delete</button>
                                </td>
                            </tr>
                        </table>
                    
                    </div>
                    
                    <div class="rounded-border" ng-show="players.length > 0">
                    
                        <div class="header">
                            <span class="header-text">Teams</span>
                        </div>
                    
                        <table class="table table-striped table-hover">
                            <tr>
                                <td class="col-md-2">
                                    Team
                                </td>
                                <td class="col-md-2">
                                    Players
                                </td>
                            </tr>
                            
                            <tr ng-repeat="team in getActiveTeams() | orderBy : team" >
                                <td class="col-md-2" >
                                    <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[team]}"></span>
                                    <span ng-bind="team"></span>
                                </td>
                                <td class="col-md-2">
                                    <span ng-bind="getPlayersOnTeam(team)"></span>
                                </td>
                            </tr>
                        </table>
                    
                    </div>
                    
                    
                
                </div>
                            
                <div id="tab2" class="tab-pane">
                    
                    <p class="bg-success" ng-show="draftResultsLastRound.length > 0" style="text-align: center">
                        Draft Results By Team:
                        <span ng-repeat="team in getActiveTeams()"> <br> Team {{team}} ({{getPlayersOnTeam(team)}}): {{getDraftResultsForTeam(team)}} </span>
                    </p>
                    
                    <div class="table">
                        <div class="row">
                        
                            <div class="cell" style="width: 30%">
                                <div class="rounded-border" ng-show="getActiveTeams().length > 1">
                                
                                    <div class="header">
                                        <span class="header-text">Draft Order</span>
                                        <button class="btn btn-warning pull-right" ng-click="getDraftOrder()">Get Draft Order</button>
                                    </div>
                                    
                                    <table class="table table-striped table-hover" ng-show="draftOrder.length > 0">
                                        <tr>
                                            <td class="col-md-2">
                                                Draft Position
                                            </td>
                                            <td class="col-md-2">
                                                Team
                                            </td>
                                        </tr>
                                        
                                        <tr ng-repeat="team in draftOrder">
                                            <td class="col-md-2">
                                                <span ng-bind="$index + 1"></span>
                                            </td>
                                            <td class="col-md-2">
                                                <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[team]}"></span>
                                                <span>{{ team }} ({{ getPlayersOnTeam(team) }})</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        
                            <div class="cell" style="width:70%">
                            
                                <div class="rounded-border" ng-show="draftOrder.length > 0">
                                    
                                    <div class="header">
                                        <span class="header-text">Overall Draft Results</span>
                                        <button class="btn btn-warning pull-right" ng-click="autoDraftRound()" ng-show="!inManualDraft" ng-disabled="unusedNhlTeams.length < getActiveTeams().length" >Auto Draft Round</button>
                                        <button class="btn btn-warning pull-right" ng-click="startManualDraft()" ng-show="!inManualDraft" ng-disabled="unusedNhlTeams.length < getActiveTeams().length" >Manual Draft Round</button>
                                        
                                        <button class="btn btn-primary pull-right" ng-click="finishManualDraft()" ng-show="inManualDraft">Finish Manual Round</button>
                                        <button class="btn btn-danger pull-right" ng-click="cancelManualDraft()" ng-show="inManualDraft">Cancel</button>
                                    </div>
                                    
                                    <table class="table table-striped table-hover" ng-show="draftOrder.length > 0">
                                        <tr>
                                            <td class="col-md-2">
                                                Round
                                            </td>
                                            <td class="col-md-2">
                                                Team
                                            </td>
                                            <td class="col-md-2">
                                                NHL Team
                                            </td>
                                        </tr>
                                        
                                        <tr ng-repeat="result in draftResults">
                                            <td class="col-md-2">
                                                <span ng-bind="getDraftRound($index)"></span>
                                            </td>
                                            <td class="col-md-2">
                                                <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[result.team]}"></span>
                                                <span>{{ result.team }} ({{ getPlayersOnTeam(result.team) }})</span>
                                            </td>
                                            <td class="col-md-2">
                                                <span ng-bind="result.nhlTeam"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr ng-repeat="result in manualDraftResults">
                                            <td class="col-md-2">
                                            </td>
                                            <td class="col-md-2">
                                                <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[result.team]}"></span>
                                                <span>{{ result.team }} ({{ getPlayersOnTeam(result.team) }})</span>
                                            </td>
                                            <td class="col-md-2">
                                                <select ng-model="result.nhlTeam">
                                                    <option ng-repeat="team in unusedNhlTeams" value="{{team}}">{{team}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="tab3" class="tab-pane">
                    <div class="rounded-border" ng-show="getActiveTeams().length > 1">
                    
                        <div class="header">
                            <span class="header-text">Home Team Draw</span>
                            <button class="btn btn-primary pull-right" ng-click="drawHome()" ng-disabled="home.team1 == home.team2">Draw For Home</button>                            
                        </div>
                        
                        <table class="table">
                            <tr>
                                <td class="col-md-2">
                                    Team 1
                                </td>
                                <td class="col-md-2">
                                    Team 2
                                </td>
                            <tr>
                            <tr>
                                <td class="col-md-2">
                                    <select ng-model="home.team1" class="form-input">
                                        <option ng-repeat="team in getActiveTeams()" value="{{team}}">{{team}} ({{ getPlayersOnTeam(team) }})</option>
                                    </select>
                                </td>
                                <td class="col-md-2">
                                    <select ng-model="home.team2" class="form-input">
                                        <option ng-repeat="team in getActiveTeams()" value="{{team}}">{{team}} ({{ getPlayersOnTeam(team) }})</option>
                                    </select>
                                </td>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>
