<!doctype html>

<html ng-app="app">

    <head>
    
        <title>Bucket 2.0</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.js"></script>
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        
        <script>
            var app = angular.module('app', []);
            
            app.factory('data', function() {
                
                var fac = {}
                
                fac.teamNumbers = [1, 2, 3, 4, 5, 6, 7, 8];
                
                fac.colors = [
                    "",
                    "red",
                    "blue",
                    "green",
                    "yellow", 
                    "turquoise", 
                    "purple", 
                    "hotpink",
                    "lightgreen",
                    "darkblue"
                    ];
                    
                fac.nhlTeams = [
                    "Anaheim Ducks",
                    "Arizona Coyotes",
                    "Boston Bruins",
                    "Buffalo Sabres",
                    "Calgary Flames",
                    "Carolina Hurricanes",
                    "Chicago Blackhawks",
                    "Colorado Avalanche",
                    "Columbus Blue Jackets",
                    "Dallas Stars",
                    "Detroit Red Wings",
                    "Edmonton Oilers",
                    "Florida Panthers",
                    "Los Angeles Kings",
                    "Minnesota Wild",
                    "Montreal Canadiens",
                    "Nashville Predators",
                    "New Jersey Devils",
                    "New York Islanders",
                    "New York Rangers",
                    "Ottawa Senators",
                    "Philadelphia Flyers",
                    "Pittsburgh Penguins",
                    "San Jose Sharks",
                    "St. Louis Blues",
                    "Tampa Bay Lightning",
                    "Toronto Maple Leafs",
                    "Vancouver Canucks",
                    "Washington Capitals",
                    "Winnipeg Jets"
                ];
                    
                return fac;
            });
                        
            app.controller('controller', function ($scope, data) {

                $scope.alerts = [];
                
                $scope.teamNumbers = data.teamNumbers;
                $scope.colors = data.colors;
                $scope.nhlTeams = data.nhlTeams;
                
                $scope.players = [];
                $scope.nextPlayerId = 0;
                
                $scope.draftOrder = [];
                $scope.draftResults = [];
                $scope.draftResultsLastRound = [];
                
                $scope.manualDraftResults = [];         
                $scope.inManualDraft = false;

                $scope.unusedNhlTeams = $scope.nhlTeams.slice();
                
                $scope.home = {team1: 1, team2: 1};
                
                function addAlert(message) {
                    if ($scope.alerts.indexOf(message) < 0) {
                        $scope.alerts.push(message);
                    }
                }
                
                $scope.addPlayer = function() {
                    $scope.players.push({id:$scope.nextPlayerId, name:"", team:1});
                    $scope.nextPlayerId ++;
                    
                    resetDraftResults();
                }
                
                $scope.deletePlayer = function(id) {
                    for(var i = 0; i < $scope.players.length; i++) {
                        if ($scope.players[i].id === id) {
                            $scope.players.splice(i, 1);
                        }
                    }
                    
                    resetDraftResults();
                }
                
                $scope.drawHome = function() {
                
                    $scope.home.team1 = parseInt($scope.home.team1);
                    $scope.home.team2 = parseInt($scope.home.team2);
                
                    var winningTeam = (Math.floor(Math.random() * 2) == 0) ? $scope.home.team1 : $scope.home.team2;
                    var message = winningTeam + " (" + $scope.getPlayersOnTeam(winningTeam) + ")";
                    alert(message);
                }
                
                $scope.randomizeTeams = function(numTeams) {
                    
                    resetDraftResults();
                    
                    var playerIndexes = [];
                    
                    for (var i = 0; i < $scope.players.length; i++) {
                        playerIndexes.push(i);
                    }
                    
                    shuffle(playerIndexes);

                    for (var i = 0; i < playerIndexes.length; i ++)
                    {
                        $scope.players[playerIndexes[i]].team = (i % numTeams) + 1;
                    }
                    
                }
                
                function shuffle(array) {
                    for (var i = array.length - 1; i > 0; i--) {
                        var j = Math.floor(Math.random() * (i + 1));
                        var temp = array[i];
                        array[i] = array[j];
                        array[j] = temp;
                    }
                    return array;
                }

                function resetDraftResults() {
                    $scope.draftOrder = [];
                    $scope.draftResults = [];
                    $scope.draftResultsLastRound = [];
                    $scope.manualDraftResults = [];
                }
                
                $scope.getDraftOrder = function() {
                
                    $scope.draftOrder = [];
                    
                    var activeTeams = $scope.getActiveTeams().slice();
                    
                    while (activeTeams.length > 0) {
                        var rand = getRandomIntInclusive(0, activeTeams.length - 1);
                        $scope.draftOrder.push(activeTeams[rand]);
                        activeTeams.splice(rand, 1);
                    }
                    
                }
                
                $scope.startManualDraft = function() {
                    
                    var activeTeams = $scope.getActiveTeams();
                    
                    if ($scope.unusedNhlTeams.length < activeTeams.length) return;
                    
                    $scope.inManualDraft = true;

                    for (var i = 0; i < activeTeams.length; i++) {
                        $scope.manualDraftResults.push({
                             team : $scope.draftOrder[i],
                             nhlTeam : ""
                             });
                    }
                }
                
                $scope.finishManualDraft = function() {
                    for (var i = 0; i < $scope.manualDraftResults.length; i++) {
                        if ($scope.manualDraftResults[i].nhlTeam == "") {
                            addAlert("You can't leave any manually drafted teams blank!");
                            return;
                        }
                        
                        for (var j = 0; j < $scope.manualDraftResults.length, j != i; j++) {
                            if ($scope.manualDraftResults[i].nhlTeam === $scope.manualDraftResults[j].nhlTeam) {
                                addAlert("Duplicate teams!");
                                return;
                            }
                        }
                    }
                    
                    resetLastDraftRoundResults();
                    
                    for (var i = 0; i < $scope.manualDraftResults.length; i++) {
                        draftTeam($scope.manualDraftResults[i].team, $scope.manualDraftResults[i].nhlTeam);
                    }

                    $scope.manualDraftResults = [];
                    $scope.inManualDraft = false;
                }
                
                $scope.cancelManualDraft = function() {
                    $scope.manualDraftResults = [];
                    $scope.inManualDraft = false;
                }
                
                $scope.autoDraftRound = function() {
                    
                    var activeTeams = $scope.getActiveTeams().slice();
                    
                    if ($scope.unusedNhlTeams.length < activeTeams.length) return;
                
                    $scope.draftResultsLastRound = [];
                    
                    resetLastDraftRoundResults();
                    
                    for (var i = 0; i < activeTeams.length; i++) {
                        var rand = getRandomIntInclusive(0, $scope.unusedNhlTeams.length - 1);
                        draftTeam($scope.draftOrder[i], $scope.unusedNhlTeams[rand]);
                    }
                    
                }
                
                function resetLastDraftRoundResults() {
                    $scope.draftResultsLastRound = [];
                }
                
                function draftTeam(team, nhlTeam) {
                    $scope.draftResults.push({
                             team : team, 
                             nhlTeam : nhlTeam
                             });
                     
                     $scope.draftResultsLastRound.push({
                             team : team, 
                             nhlTeam : nhlTeam
                             });
                             
                    $scope.unusedNhlTeams.splice($scope.unusedNhlTeams.indexOf(nhlTeam), 1);
                }
                
                $scope.getDraftResultsForTeam = function(team) {
                
                    var nhlTeams = "";
                    
                    for(var i = 0; i < $scope.draftResults.length; i++) {
                        if ($scope.draftResults[i].team === team) {
                            nhlTeams += ($scope.draftResults[i].nhlTeam);
                            nhlTeams += ", "
                        }
                    }
                    
                    return nhlTeams.replace(/, $/, "");
                }
                
                $scope.getDraftRound = function(index) {
                    var teams = $scope.getActiveTeams().length;
                    return Math.floor(index/teams) + 1;
                }
                
                function getRandomIntInclusive(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }
                
                $scope.getActiveTeams = function() {
                
                    var activeTeams = [];
                    
                    for(var i = 0; i < $scope.players.length; i++) {
                        if (!contains(activeTeams, $scope.players[i].team)) {
                            activeTeams.push($scope.players[i].team);
                        }
                    }
                    
                    return activeTeams;
                }
                
                $scope.getPlayersOnTeam = function(team) {
                
                    var players = "";
                    
                    for(var i = 0; i < $scope.players.length; i++) {
                        if ($scope.players[i].team === team) {
                            
                            if ($scope.players[i].name === "") {
                                players += "[unnamed]";
                            } else {
                                players += ($scope.players[i].name);
                            }
                            players += ", "
                        }
                    }
                    
                    return players.replace(/, $/, "");
                    
                }
                
                function contains(a, obj) {
                    for (var i = 0; i < a.length; i++) {
                        if (a[i] === obj) {
                            return true;
                        }
                    }
                    return false;
                }
                
            });


        </script>
        
        <style>
            body {
                font-family: Open Sans; 
                font-size: 1.1rem;
                font-weight: 700;
            }

            .form-input {
                height: 25px;
                width: 200px;
            }
            
            .btn {
                padding: 5px;
                font-family: Open Sans; 
                font-size: 1.1rem;
            }
            
            .header {
                text-transform: uppercase;
                font-size: 1.3 rem;
                color: #bbb;
                background-color: #fff;
                height: 38px;
                padding: 5px;
            }
            
            td {
                text-align: center;
            }
            
            .content {
                padding: 10px;
                margin-top: 150px;
                border-radius: 10px;
            }
            
            .rounded-border {
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 10px;
            }
            
            .header-text {
                margin-left: 10px; 
                display: inline-block; 
                height: 27px; 
                line-height: 27px
            }
            
            table {
                border-collapse: collapse;
            }
            
            .table {
                display: table
            }
            
            .row {
                display: table-row;
            }
            
            .cell {
                display: table-cell;
            }
            
            .pull-right {
                margin-left: 10px;
            }
            
            #menu {
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                height: 150px;
                z-index: 10000;
                
                background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.75) 30%, rgba(0,0,0,0.59) 49%, rgba(0,0,0,0.35) 67%, rgba(0,0,0,0) 94%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(30%,rgba(0,0,0,0.75)), color-stop(49%,rgba(0,0,0,0.59)), color-stop(67%,rgba(0,0,0,0.35)), color-stop(94%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.59) 49%,rgba(0,0,0,0.35) 67%,rgba(0,0,0,0) 94%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.59) 49%,rgba(0,0,0,0.35) 67%,rgba(0,0,0,0) 94%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.59) 49%,rgba(0,0,0,0.35) 67%,rgba(0,0,0,0) 94%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.59) 49%,rgba(0,0,0,0.35) 67%,rgba(0,0,0,0) 94%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
            }
            
            #logo {
                width: 300px;
                height: 150px;
                margin: 0 auto;
                background-image: url("http://i.imgur.com/BKqOtFx.png");
            }
        </style>
    </head>

    <body>
        
        <div id="menu">
            <div id="logo"></div>
        </div>
        
        <div class="content" ng-controller="controller">

            <div class="alert alert-danger" ng-repeat="alert in alerts">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{alert}}
            </div>

            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Players and Teams</a></li>
                <li><a href="#tab2" data-toggle="tab">Draft</a></li>
                <li><a href="#tab3" data-toggle="tab">Home</a></li>
            </ul>
            
            <div class="tab-content">
            
                <div id="tab1" class="tab-pane active">
            
                    <div class="rounded-border">
                    
                        <div class="header">
                            <span class="header-text">Players</span>
                            <button class="btn btn-primary pull-right" ng-click="addPlayer()">Add Player</button>
                            <button class="btn btn-primary pull-right" ng-click="randomizeTeams(2)" ng-show="players.length > 3">Randomize (2 Teams)</button>
                            <button class="btn btn-primary pull-right" ng-click="randomizeTeams(3)" ng-show="players.length > 5">Randomize (3 Teams)</button>
                            <button class="btn btn-primary pull-right" ng-click="randomizeTeams(4)" ng-show="players.length > 7">Randomize (4 Teams)</button>
                            
                        </div>
                    
                        <table class="table table-striped table-hover" ng-show="players.length > 0">
                            <tr>
                                <td class="col-md-2">
                                    Player Name
                                </td>
                                <td class="col-md-2">
                                    Team Number
                                </td>
                                <td class="col-md-2">
                                    Delete
                                </td>
                            </tr>
                            
                            <tr ng-repeat="player in players">
                                <td>
                                    <input type="text" class="form-input" ng-model="player.name" />
                                </td>
                                <td>
                                    <select ng-model="player.team" class="form-input" ng-options="i for i in teamNumbers"></select>
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="deletePlayer(player.id)">Delete</button>
                                </td>
                            </tr>
                        </table>
                    
                    </div>
                    
                    <div class="rounded-border" ng-show="players.length > 0">
                    
                        <div class="header">
                            <span class="header-text">Teams</span>
                        </div>
                    
                        <table class="table table-striped table-hover">
                            <tr>
                                <td class="col-md-2">
                                    Team
                                </td>
                                <td class="col-md-2">
                                    Players
                                </td>
                            </tr>
                            
                            <tr ng-repeat="team in getActiveTeams() | orderBy : team" >
                                <td class="col-md-2" >
                                    <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[team]}"></span>
                                    <span ng-bind="team"></span>
                                </td>
                                <td class="col-md-2">
                                    <span ng-bind="getPlayersOnTeam(team)"></span>
                                </td>
                            </tr>
                        </table>
                    
                    </div>
                    
                    
                
                </div>
                            
                <div id="tab2" class="tab-pane">
                    
                    <p class="bg-success" ng-show="draftResultsLastRound.length > 0" style="text-align: center">
                        Draft Results By Team:
                        <span ng-repeat="team in getActiveTeams()"> <br> Team {{team}} ({{getPlayersOnTeam(team)}}): {{getDraftResultsForTeam(team)}} </span>
                    </p>
                    
                    <div class="table">
                        <div class="row">
                        
                            <div class="cell" style="width: 30%">
                                <div class="rounded-border" ng-show="getActiveTeams().length > 1">
                                
                                    <div class="header">
                                        <span class="header-text">Draft Order</span>
                                        <button class="btn btn-warning pull-right" ng-click="getDraftOrder()">Get Draft Order</button>
                                    </div>
                                    
                                    <table class="table table-striped table-hover" ng-show="draftOrder.length > 0">
                                        <tr>
                                            <td class="col-md-2">
                                                Draft Position
                                            </td>
                                            <td class="col-md-2">
                                                Team
                                            </td>
                                        </tr>
                                        
                                        <tr ng-repeat="team in draftOrder">
                                            <td class="col-md-2">
                                                <span ng-bind="$index + 1"></span>
                                            </td>
                                            <td class="col-md-2">
                                                <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[team]}"></span>
                                                <span>{{ team }} ({{ getPlayersOnTeam(team) }})</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        
                            <div class="cell" style="width:70%">
                            
                                <div class="rounded-border" ng-show="draftOrder.length > 0">
                                    
                                    <div class="header">
                                        <span class="header-text">Overall Draft Results</span>
                                        <button class="btn btn-warning pull-right" ng-click="autoDraftRound()" ng-show="!inManualDraft" ng-disabled="unusedNhlTeams.length < getActiveTeams().length" >Auto Draft Round</button>
                                        <button class="btn btn-warning pull-right" ng-click="startManualDraft()" ng-show="!inManualDraft" ng-disabled="unusedNhlTeams.length < getActiveTeams().length" >Manual Draft Round</button>
                                        
                                        <button class="btn btn-primary pull-right" ng-click="finishManualDraft()" ng-show="inManualDraft">Finish Manual Round</button>
                                        <button class="btn btn-danger pull-right" ng-click="cancelManualDraft()" ng-show="inManualDraft">Cancel</button>
                                    </div>
                                    
                                    <table class="table table-striped table-hover" ng-show="draftOrder.length > 0">
                                        <tr>
                                            <td class="col-md-2">
                                                Round
                                            </td>
                                            <td class="col-md-2">
                                                Team
                                            </td>
                                            <td class="col-md-2">
                                                NHL Team
                                            </td>
                                        </tr>
                                        
                                        <tr ng-repeat="result in draftResults">
                                            <td class="col-md-2">
                                                <span ng-bind="getDraftRound($index)"></span>
                                            </td>
                                            <td class="col-md-2">
                                                <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[result.team]}"></span>
                                                <span>{{ result.team }} ({{ getPlayersOnTeam(result.team) }})</span>
                                            </td>
                                            <td class="col-md-2">
                                                <span ng-bind="result.nhlTeam"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr ng-repeat="result in manualDraftResults">
                                            <td class="col-md-2">
                                            </td>
                                            <td class="col-md-2">
                                                <span class="glyphicon glyphicon-stop" ng-style="{'color':colors[result.team]}"></span>
                                                <span>{{ result.team }} ({{ getPlayersOnTeam(result.team) }})</span>
                                            </td>
                                            <td class="col-md-2">
                                                <select ng-model="result.nhlTeam">
                                                    <option ng-repeat="team in unusedNhlTeams" value="{{team}}">{{team}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="tab3" class="tab-pane">
                    <div class="rounded-border" ng-show="getActiveTeams().length > 1">
                    
                        <div class="header">
                            <span class="header-text">Home Team Draw</span>
                            <button class="btn btn-primary pull-right" ng-click="drawHome()" ng-disabled="home.team1 == home.team2">Draw For Home</button>                            
                        </div>
                        
                        <table class="table">
                            <tr>
                                <td class="col-md-2">
                                    Team 1
                                </td>
                                <td class="col-md-2">
                                    Team 2
                                </td>
                            <tr>
                            <tr>
                                <td class="col-md-2">
                                    <select ng-model="home.team1" class="form-input">
                                        <option ng-repeat="team in getActiveTeams()" value="{{team}}">{{team}} ({{ getPlayersOnTeam(team) }})</option>
                                    </select>
                                </td>
                                <td class="col-md-2">
                                    <select ng-model="home.team2" class="form-input">
                                        <option ng-repeat="team in getActiveTeams()" value="{{team}}">{{team}} ({{ getPlayersOnTeam(team) }})</option>
                                    </select>
                                </td>
                            <tr>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>
